# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Entornos
.venv/
venv/
env/
ENV/
*.env
.env.*

# Editores/IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
